body > div {

	width: 960px;
	margin: 0 auto;

}
/
*
{
  background-color: red;
}


/*KATIE CSS*/








/*ANTHONY CSS*/
#header
{
  width: 950px;
  height: 65px;
  /* Testing Uses borders */
  background-color: silver;

}






/*MATT CSS*/