body {
  background-image: url('../images/background.jpg');
}

body > div {

	width: 960px;
	margin: 0 auto;

}


/*KATIE CSS*/
#leftnav {
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  background-color: #09234A;
}

aside > ul > li{
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: -6px;
}

aside > ul > li > ul > li {
  list-style-type: none;
  margin-left: -25px;
}

#home {
  background:url("images/leftnav_home_on.jpg") no-repeat;
}

#home:hover img {
  visibility:hidden;
}


/*ANTHONY CSS*/

#spacing
{
  height:79px;
  width:950px;
  background-color: red;

}
header
{
  width: 950px;
  height: 65px;
  background-color:rgb(65,90,123);
  background-image:url(../images/logo.png);
}


footer
{

  background-image:url(../images/bg-footer.png);
  bottom: 0px;
  height: 101px;
  position:relative;
  width: 950px;
}






/*MATT CSS*/

div > section {
	width: 760px;

}

.img_cont {

}
